.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  /*background: #f5f5f5 5px center/3em no-repeat;*/
  background: rgb(255, 204, 204) 5px center/3em no-repeat;
  border: black solid 2px;
}
.rmdcaution {
  background-image: url("images/caution.png");
}
.rmdimportant {
  background-image: url("images/important.png");
}
.rmdnote {
  background-image: url("images/note.png");
}
.rmdtip {
  background-image: url("images/tip.png");
}
.rmdwarning {
  background-image: url("images/warning.png");
}

.leadquote {
  padding: 1.5em;
  background:  rgb(118, 161, 232);
  border:  black solid 5px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  font-size: 2.5em;
  line-height: 1.5em;
  margin-bottom: 30px;
}


p.caption {
  color: indigo;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.figure img {
  border: black solid 20px;
}

dl dt {
  margin-bottom: 10px;
}

dl dd p {
  background-color: rgb(204, 217, 255);
  padding: 1em;
  border: black solid 2px;
  border-radius: 3px;
}

/*************************
* Maybe try the following 
* (from https://github.com/hadley/adv-r/blob/master/adv-r.css)
* for notes?
****************************/

div.note {
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

div.note::before {
  display: block;
  content: "Note";
}

div.note::before {
  font-size: 1.1em;
  font-weight: 800;
  margin-bottom: 0.25em;
  color: #333;
}
